[submodule "despertaferro/vim/bundle/tabular"]
	path = despertaferro/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "despertaferro/vim/bundle/vim-pathogen"]
	path = despertaferro/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "despertaferro/vim/bundle/vim-javascript"]
	path = despertaferro/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "despertaferro/vim/bundle/nerdtree"]
	path = despertaferro/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "despertaferro/vim/bundle/vim-fugitive"]
	path = despertaferro/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "despertaferro/vim/bundle/vim-markdown"]
	path = despertaferro/vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "despertaferro/vim/bundle/vim-buffergator"]
	path = despertaferro/vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "despertaferro/vim/bundle/vim-colors-solarized"]
	path = despertaferro/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "despertaferro/vim/bundle/vim-endwise"]
	path = despertaferro/vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "despertaferro/vim/bundle/vim-surround"]
	path = despertaferro/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "despertaferro/vim/bundle/ctrlp.vim"]
	path = despertaferro/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "despertaferro/vim/bundle/vim-golang"]
	path = despertaferro/vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "despertaferro/vim/bundle/supertab"]
	path = despertaferro/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "despertaferro/vim/bundle/snipmate.vim"]
	path = despertaferro/vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
